.notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px;
  background-color: #41C787;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  z-index: 1000;
}

.notification.notification__error {
  background-color: #FF4259;
}

.notification p {
  margin: 0;
}

.notification__close-button {
  width: 24px;
  height: 24px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 5px;
}