@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner__loading {
  width: 50px;
  height: 50px;
  border: 10px solid #B1AFFF;
  border-top: 10px solid #7774ff;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}