.login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 24px 64px rgba(9, 11, 50, 0.15);
  font-family: 'Rubik', sans-serif;
}

.login-form__label {
  margin-bottom: 20px;
}

.login-form input {
  margin-top: 10px;
}

.invalid-feedback {
  margin-top: 5px;
  color: #FF4259;
  font-size: 14px;
}

