.headerContainer{
    display: flex;
    margin-top: 40px;
    margin-left: 200px;
}
.headerImage{
    margin-top: 2px;
}
.headerTextContainer{
    margin-left: 15px;
}
.headerTextWrapper{
    margin:  auto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 115%;
    color: #16173A;
}
.headerItems{
    margin-left: 200px;
    margin-right: 197px;
    margin-top: 52px;
    justify-content: space-between;
    display: flex;
}
.underline{
    width: 100%;
    height: 1px;
    margin-top: 40px;
    background: #F4F5FC;
}
