.app__header-wrapper {
  margin: 40px 0 10px;
}

.app_buttons {
  margin: 10px auto;
}

.app_button,
.modal__button,
.confirm-button {
  padding: 12px;
  border: 0;
  border-radius: 12px;
  color: #fff;
  background-color: #908dff;
  text-transform: uppercase;
}
.app_button:first-of-type {
  margin-right: 20px;
}

.modal__input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 12px;
  background-color: #F4F5FC;
  font-size: 16px;
}

.modal__button,
.confirm-button {
  width: 100%;
  font-size: 16px;
}

.modal__button:hover,
.app_button:hover,
.confirm-button:hover {
  background-color: #AAA8FF;
}

.modal__button:active,
.modal__button:focus,
.app_button:active,
.app_button:focus,
.confirm-button:active,
.confirm-button:focus {
  background-color: #7774ff;
}
