.app__header-wrapper {
  margin: 40px 0 10px;
}

.app_buttons {
  margin: 10px auto;
}

.app_button,
.modal__button,
.confirm-button,
.header__button {
  padding: 12px;
  border: 0;
  border-radius: 12px;
  color: #fff;
  background-color: #908dff;
  text-transform: uppercase;
}

.app_button:not(:last-of-type) {
  margin-right: 20px;
}

.modal__input {
  width: 100%;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 12px;
  outline: 0;
  background-color: #F4F5FC;
  font-size: 14px;
}

.modal__input:focus,
.modal__input:active {
  border-color: #908DFF;
}

.modal__button,
.confirm-button {
  width: 100%;
  font-size: 16px;
}

.modal__button:hover,
.app_button:hover,
.confirm-button:hover {
  background-color: #9b98f4;
}

.modal__button:active,
.modal__button:focus,
.app_button:active,
.app_button:focus,
.confirm-button:active,
.confirm-button:focus {
  background-color: #7774ff;
}

.modal__button:disabled {
  background-color: #B1AFFF;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.flex-basis-20 {
   flex-basis: 20%;
}

.flex-basis-80 {
  flex-basis: 80%;
}
