.app {
  font-family: 'Rubik', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    display: flex;
    flex-direction: column;
  }
}