.accordion__content-wrapper,
.icon-container,
.container,
.inner-container,
.modal__label,
.accordion__header-wrapper,
.accordion__header-container {
  display: flex;
  align-items: center;
}

.accordion {
  margin: 10px auto 0;
  border: 1px solid #F4F5FC;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.accordion__header-container {
  position: relative;
  justify-content: space-between;
  min-height: 60px;
}

@media screen and (max-width: 800px) {
  .accordion__header-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media screen and (max-width: 800px) {
  .accordion__header-wrapper:nth-of-type(2) {
    width: 100%;
    justify-content: space-between;
  }
}

.accordion__main-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%
}

@media screen and (max-width: 800px) {
  .accordion__main-text {
    font-size: 12px;
  }
}

.accordion__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%
}

.accordion__text-bold {
  font-weight: 600;
  font-size: 12px;
}

.accordion__content-container {
  width: 100%;
  margin-bottom: 10px;
}

.accordion__overflow {
  width: 100%;
  overflow: auto;
}

.accordion__content-wrapper {
  min-height: 60px;
  min-width: 950px;
}

.accordion__content-wrapper:nth-child(odd) {
  background-color: #F4F5FC;
}

.warning-image {
  margin-left: 18px;
  margin-top: 3px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .warning-image {
    margin-left: 10px;
  }
}

.warning-image:hover + .tooltip {
  opacity: 1;
}

.icon-image {
  margin: 3px 18px 0;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .icon-image {
    margin: -30px 10px 0;
  }
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-18 {
  margin-left: 18px;
}
@media screen and (max-width: 800px) {
  .margin-left-18 {
    margin-left: 10px;
  }
}

.text {
  color: #FF4259;
}

.icon-container {
  margin-right: 10px;
}

.container button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.inner-container {
  column-gap: 10px;
  width: 100%;
  height: 100%;
}

.inner-container > div {
  padding: 0;
  overflow: hidden;
}

.inner-container > div:first-of-type,
.inner-container > div:nth-of-type(5) {
  flex-basis: 17%;
  padding-left: 5px;
}

.inner-container > div:first-of-type {
  padding-left: 5px;
}

.inner-container > div:nth-of-type(2) {
  flex-basis: 13%;
}

.inner-container > div:nth-of-type(3) {
  flex-basis: 6%;
}

.inner-container > div:nth-of-type(4) {
  flex-basis: 4%;
}

.inner-container > div:nth-of-type(6) {
  flex-basis: 9%;
}

.inner-container > div:nth-of-type(7) {
  flex-basis: 10%;
}

.inner-container > div:nth-of-type(8) {
  flex-basis: 11%;
}

.inner-container > div:nth-of-type(9) {
  flex-basis: 3%;
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

form {
  width: 100%;
}

.config-form {
  padding-top: 10px;
}

.modal__label {
  display: flex;
  column-gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

.modal__label span,
.modal__label input {
  margin-bottom: 0;
}

.modal__title {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.modal__input_tr {
  width: 100%;
  border: 0;
  padding: 5px;
  outline: 0;
  background: transparent;
}

.dropdown {
  position: relative;
  margin-bottom: 10px;
}

.dropdown__header {
  width: 200px;
  padding: 10px;
  border: 1px solid #908DFF;
  border-radius: 12px;
  background-color: #F4F5FC;
  font-size: 14px;
}

.dropdown__list {
  position: absolute;
  top: 42px;
  width: 200px;
  margin: 0;
  padding: 0;
  border: 1px solid #908DFF;
  border-radius: 12px;
  list-style: none;
  background-color: #F4F5FC;
}

.dropdown__item {
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 14px;
}

.dropdown__item:hover {
  background-color: #908DFF;
}

.dropdown__item:first-child:hover {
  border-radius: 12px 12px 0 0;
}

.dropdown__item:last-child:hover {
  border-radius: 0 0 12px 12px;
}
