.accordionContainer {
  max-width: 1040px;
  width: 90%;
  margin: 10px auto 0;
  border: 1px solid #F4F5FC;
  border-radius: 12px;
  background: #FFFFFF;
}

.accordionHeaderContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

@media screen and (max-width: 800px) {
  .accordionHeaderContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.accordionHeaderWrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .accordionHeaderWrapper:nth-of-type(2) {
    width: 100%;
    justify-content: space-between;
  }
}

.accordionMainText {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%
}

@media screen and (max-width: 800px) {
  .accordionMainText {
    font-size: 12px;
  }
}

.accordionText {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%
}

.accordionTextBold {
  font-weight: 600;
  font-size: 12px;
}

.accordionContentContainer {
  width: 100%;
  margin-bottom: 10px;
}

.accordionOverflow {
  width: 100%;
  overflow: auto;
}

.accordionContentWrapper {
  display: flex;
  align-items: center;
  min-height: 60px;
  min-width: 950px;
}

.accordionContentWrapper:nth-child(odd) {
  background: #F4F5FC;
}

.warningImage {
  margin-left: 18px;
  margin-top: 3px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .warningImage {
    margin-left: 10px;
  }
}

.warningImage:hover + .tooltip {
  opacity: 1;
}

.iconImage {
  margin: 3px 18px 0;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .iconImage {
    margin: -30px 10px 0;
  }
}

.fontWeight400 {
  font-weight: 400;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginLeft18 {
  margin-left: 18px;
}
@media screen and (max-width: 800px) {
  .marginLeft18 {
    margin-left: 10px;
  }
}

.marginLeft20 {
  margin-left: 20px;
}

.marginRight10 {
  margin-right: 10px;
}

.fontSize12 {
  font-size: 12px;
}

.redText {
  color: #FF4259;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.container {
  display: flex;
  align-items: center;
}

.container button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.innerContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 100%;
}

.innerContainer > div {
  padding: 0;
  overflow: hidden;
}

.innerContainer > div:first-of-type {
  flex-basis: 17%;
  padding-left: 5px;
}

.innerContainer > div:nth-of-type(2) {
  flex-basis: 10%;
}

.innerContainer > div:nth-of-type(3) {
  flex-basis: 6%;
}

.innerContainer > div:nth-of-type(4) {
  flex-basis: 4%;
}

.innerContainer > div:nth-of-type(5) {
  flex-basis: 17%;
}

.innerContainer > div:nth-of-type(6) {
  flex-basis: 9%;
}

.innerContainer > div:nth-of-type(7) {
  flex-basis: 10%;
}

.innerContainer > div:nth-of-type(8) {
  flex-basis: 11%;
}

.innerContainer > div:nth-of-type(9) {
  flex-basis: 8%;
}

.innerContainer > div:nth-of-type(10),
.innerContainer > div:nth-of-type(11) {
  flex-basis: 3%;
}

.switchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}