.accordionContainer {
  max-width: 1040px;
  margin: 10px auto 0;
  border: 1px solid #F4F5FC;
  border-radius: 12px;
  background: #FFFFFF;
}

.accordionHeaderContainer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordionHeaderWrapper {
  display: flex;
  align-items: center;
}

.accordionMainText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%
}

.accordionContentContainer {
  margin-bottom: 10px;
}

.accordionContentWrapper {
  display: flex;
  align-items: center;
  height: 60px;
}

.contentDarkBackground {
  background: #F4F5FC;
}

.warningImage {
  margin-left: 18px;
  margin-top: 3px;
}

.fontWeight400 {
  font-weight: 400;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginRight10 {
  margin-right: 10px;
}

.fontSize12 {
  font-size: 12px;
}

.redText {
  color: #FF4259;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

