.header__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 12px 32px;
  border: 2px solid #F4F5FC;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.header__text {
  line-height: 150%;
  text-align: center;
}

.header__text-bold {
  font-size: 14px;
  font-weight: 500;
  color: #908DFF;
}

.header__text_body {
  font-size: 16px;
  color: #16173A;
}
